*~
bindir
.build.data
.build.info
*.cfg
utils/buildtags
dcomposer
dcomposerA
dcomposer_filter
dcomposer_filter_error
dcomposer.tags
dcomposerx
dcompro
docs/*.html
*.dpro
*.geany
*.json
*.log
*.lst
*.o
*.so
sysdir
systemdir
*.dtags
*.tag
*.tags
tags/dallegro5.json
tmp
tmpdocs/*
trace.def
*.old
simple_todo
.untracked/*
