[Desktop Entry]
Value=1.0
Type=Application
Encoding=UTF-8
Name=dcomposer
GenericName=D IDE
Comment=A naive IDE for the D programming language
Exec=dcomposer
Icon=dcomposer-Icon
Terminal=false
Categories=Development
MimeType=text/x-dsrc;text/plain