[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=dcomposer
GenericName=D IDE
Comment=A naive IDE for the D programming language
Exec=/usr/local/bin/dcomposer
Icon=dcomposer-Icon
Terminal=false
Categories=Development;
MimeType=text/x-dsrc;text/plain;
X-Desktop-File-Install-Version=0.20
